.vivaldi.button-toolbar {
    position: initial;
    margin-top: auto;
    margin-bottom: auto;
}

#browser.win.win10 .extensions-wrapper .window-buttongroup,
#browser.win .extensions-wrapper .window-buttongroup,
.toolbar-addressbar.toolbar .window-buttongroup {
    position: inherit;
}

.toolbar #pagetitle {
    text-align: center;
    position: relative;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.toolbar button.pagetitle {
    flex-grow: 1;
    flex-basis: auto;
    height: 25px;
    margin-top: auto;
}

.toolbar .button-toolbar.home {
    display: none;
}

.toolbar-addressbar .extensions-wrapper .button-toolbar.browserAction-button {
    background-color: transparent;
}

.bookmark-container-span {
    margin-top: auto;
    margin-bottom: auto;
}
